@use "./colors.scss";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus-visible {
	outline: 1px solid #777;
}

body {
	margin: 0;
	background-color: colors.$background;
	font-family: Roboto, Arial, sans-serif;
	font-size: 12pt;
	color: colors.$text;
}

a {
	color: inherit;
}
